body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 150px); /* 5 kolommen */
    gap: 20px;
    justify-content: center;
    margin: 40px auto;
}

.grid-container img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ccc;
    transition: transform 0.2s, border-color 0.2s;
}

.grid-container img:hover {
    transform: scale(1.1);
    border-color: #333;
}
